html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header #offCanvas {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  z-index: 15;
  padding-top: 24px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background: #fff;
  transition: all 0.5s ease;
}
.header #offCanvas .navbar-brand img {
  -o-object-fit: cover;
     object-fit: cover;
}
.header #offCanvas .nav {
  font-size: 13px;
  font-weight: 500;
  color: #131212;
}
.header #offCanvas .nav .nav-item {
  margin: 5px 0;
}
.header #offCanvas .nav .nav-item .nav-link {
  font-size: 13px;
  font-weight: 600;
  color: #131212;
}
.header #offCanvas .nav .nav-item .nav-link:hover {
  color: #b61984;
}
.header .container-fluid {
  max-width: 1280px;
  margin: auto;
}
.header .container-fluid .custom-navbar {
  justify-content: space-between;
  padding: 0;
}
@media screen and (max-width: 992px) {
  .header .container-fluid .custom-navbar {
    justify-content: flex-start;
  }
}
.header .container-fluid .custom-navbar .navbar-brand img {
  max-height: 80px;
}
@media screen and (max-width: 992px) {
  .header .container-fluid .custom-navbar .navbar-brand img {
    max-height: 50px;
    margin-left: 10px;
  }
}
.header .container-fluid .custom-navbar #navbarNav .navbarNav-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .container-fluid .custom-navbar #navbarNav .navbarNav-inner .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  font-weight: 600;
  color: #131212;
}
.header .container-fluid .custom-navbar #navbarNav .navbarNav-inner .navbar-nav .nav-item .nav-link:hover {
  color: #b61984;
}
.header .container-fluid .custom-navbar #navbarNav .navbarNav-inner .contact {
  display: flex;
  align-items: center;
}
.header .container-fluid .custom-navbar #navbarNav .navbarNav-inner .contact .phone-number {
  margin: 0 10px;
  padding: 13px 20px;
  background-color: #b61984;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.header .container-fluid .custom-navbar #navbarNav .navbarNav-inner .contact .social-media .social-share {
  display: flex;
  align-items: center;
  margin: 0;
}
.header .container-fluid .custom-navbar #navbarNav .navbarNav-inner .contact .social-media .social-share .social-item .social-link i {
  font-size: 14px;
  font-weight: 500;
  color: #131212;
}

#toggleButton {
  border: none;
  outline: none;
  transition: all 0.5s ease;
}